{% extends "header.html" %} {% block content %}
<div>
    <form action = "/" method = "POST">
        {{ form.csrf_token }}  
        <div class="searchbar">
            {{ form.submit(class="form-button") }}
            {{ form.search_query(class="form-control", placeholder="Search...") }}
            {% if form.search_query.errors %}
                <div>
                    {% for error in form.search_query.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
          
            
        </div>
    </form>
</div>
{% endblock %}
